<h6>Find Me Elsewhere</h6>
<ul class="menu">
  <li><a href="https://www.github.com/dvjones89" target="_blank">GitHub</a></li>
  <li><a href="https://www.linkedin.com/in/dvjones89" target="_blank">LinkedIn</a></li>
  <li><a href="https://www.twitter.com/dvjones89" target="_blank">Twitter</a></li>
  <li><a href="https://www.youtube.com/channel/UC11-rvbPVUILDVpFNJO32yQ" target="_blank">YouTube</a></li>
  <li><a href="https://soundcloud.com/dvjones89/tracks" target="_blank">SoundCloud</a></li>
</ul>		
