<h6>Follow me</h6>

<ul class="social-media">
    <li>
        <a href="#0" class="twitter wc-img-replace">Twitter</a>
    </li>   

    <li>
        <a href="#0" class="github wc-img-replace">Github</a>
    </li>

    <li>
        <a href="#0" class="facebook wc-img-replace">Facebook</a>
    </li>

    <li>
        <a href="#0" class="google wc-img-replace">Google</a>
    </li>

    <li>
        <a href="#0" class="dribble wc-img-replace">Dribble</a>
    </li> 

    <li>
        <a href="#0" class="pinterest wc-img-replace">Dribble</a>
    </li> 

</ul>