---
---

// Import reset 
@import "reset.css";

// Import syntax 
@import "syntax.css";

// Import colors, fonts etc...
@import "partials/variables";

// Import custom mixins
@import "partials/mixins";

// Import layout mixin
@import "partials/layout";

/* -------------------------------- 

 Primary style

-------------------------------- */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

body {
  font: {
    size: 100%;
    family: $primary-font; // variables inside partials > _variables.scss
  }
}

.wc-container {
    width: 90%;
    max-width: $M; // see breakpoints in _sass/partials/_layout.scss
    margin: 0 auto;

    &::after { /* Clearfix */
        content: '';
        display: table;
        clear: both;
    }
}

/* --------------------------------

 Small Typography

--------------------------------- */

h1, h2, h3, h4, h5, h6 { 
  line-height: 1.6;
}

h1 {
  // mobile first
  @include font-size(20px);
  @include MQ(M) {
    @include font-size(40px);
  }
}

h2 {
  // mobile first
  @include font-size(18px);
  @include MQ(M) {
    @include font-size(34px);
  }
}

h3 {
  @include font-size(15px);
  @include MQ(M) {
    @include font-size(30px);
  }
}

h4 {
  @include font-size(16px);
  @include MQ(M) {
    @include font-size(24px);
  }
}

h5 {
  @include font-size(14px);
  @include MQ(M) {
    @include font-size(22px);
  }
}

h6 {
  @include font-size(14px);
  @include MQ(M) {
    @include font-size(19px);
  }
}

p {
  line-height: 1.6;
  @include font-size(12px);
  @include MQ(M) {
    @include font-size(18px);
  }
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

/* --------------------------------

 Theme base

--------------------------------- */

// default 

a.default-anchor {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: $base-08;
    
  &:hover, &:active, &:focus {
    @include transition(border-bottom-color .2s);
    border-bottom-color: $base-08;
  }
}

div.default-page-content {
  h1, h2, h3, h4, h5, h6 { color: $base-00; }
}

body {
  color: $color-2;

  a {
    @extend .default-anchor;   
  }

  header.main-header, footer.main-footer {
    background-color: $base-00;
    color: $base-07;

    p {
      @include font-size(12px);
      @include MQ(M) {
        @include font-size(14px);        
      }
    }
  }

  header.main-header {
    a { 
      color: $color-white;
      &:hover, &:active, &:focus {
        border-bottom-color: transparent;
      }
    }
  }

  div.page-content {
    @extend .default-page-content;
  }    

  div.page-content {
    ul { 
      @include font-size(12px);
      padding: 1em 0;
      li {
        color: $color-2; 
        line-height: 1.6;
        background: url(./images/bullet.svg);
        background-repeat: no-repeat;
        background-position: 0 5px;
        padding: 0 0 5px 15px;
        margin-left: 0;
      }
      @include MQ(M){
        @include font-size(14px);
        li { 
          line-height: 1.5;
          background-position: 0 7px; 
        }
      }
    }
    ol { 
      @include font-size(12px);
      padding-top: 1em;
      padding-bottom: 1em;
      list-style: decimal;
      margin-left: 0;
      li {
        color: $color-2; 
        line-height: 1.6;
        padding: 0 0 5px 0px;
        margin-left: 20px;
        position:relative;
      }
      @include MQ(M){
        @include font-size(14px);
        li { 
          line-height: 1.5;
          background-position: 0 7px; 
        }
      }
    }

    dl {
      padding-top: 1em;
      padding-bottom: 1em;
      @include font-size(12px);
      
      dt, dd {
        line-height: 1.5;        
      }
      
      dt {
        font-weight: bold;
        padding-bottom: 1em;
      }

      dd {
        margin-left: 0;
      }

      @include MQ(M) {
        @include font-size(14px);
        dt, dd {
          line-height: 1.6;        
        }
      }
    }
    
    img { 
      padding: 1em 0;
    }
  }
}

// Theme base 01
body.theme-base-01 {
  
  a {
    @extend .default-anchor;   
  }

  header.main-header, footer.main-footer {
    background-color: $base-01;
    color: $base-07;
  }

  div.page-content {
    h1, h2, h3, h4, h5, h6 { color: $base-01; }
    h3 a {
      color: $base-01;
      &:hover, &:active, &:focus {border-bottom-color: $base-01;} 
    }
  }    
}


/* --------------------------------

 Main Header

--------------------------------- */

header.main-header { 
  padding: 2em 0;
  @include MQ(M) { padding: 4em 0; }
}
footer.main-footer {
  padding: 1em 0;
  @include MQ(M) { padding: 2em 0; }
}
.page-content {
  padding: 1em 0;
  @include MQ(M) { padding: 2em 0; }
}


/* ---------------------------------

  Blockquote

---------------------------------- */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@include MQ(M) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

/* --------------------------------

Code snippets

--------------------------------- */
code, pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {  
  padding: .25em .5em;
  font-size: 85%;
  color: $base-08;
  background-color: rgba($base-08, .1);
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  @include font-size(12px);
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: $color-white;
  border: 1px solid $base-05;
  code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
  }

  @include MQ(M) {
    @include font-size(14px);
  }
}

.highlight {
  margin-bottom: 1rem;
  margin-top: 1rem;
  pre {
    margin-bottom: 0;
  }
}

/* Gist via GitHub Pages */
.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
  margin: 1em 0;
}
.gist .markdown-body {
  padding: 15px;
}
.gist pre {
  padding: 0;
  background-color: transparent;
}
.gist .gist-file .gist-data {
  font-size: 12px;
  @include MQ(M) {
    font-size: 14px !important;
  }
  line-height: 1.4;
}
.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

/* --------------------------------

Post styles

--------------------------------- */

div.posts {

  .div.post {
    
  }
}
div.post {
  padding-top: .5rem;
  padding-bottom: 1rem;

  @include MQ(M) {

    padding-bottom: 2rem;  
  }
}
span.post-date {
  line-height: 1.6;
  letter-spacing: 2px;
  text-transform: uppercase;
  @include font-size(12px);
  overflow: hidden;
  display: block;
  padding: 1em 0;
}

/* --------------------------------

 Related post

--------------------------------- */
.related {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid $base-05;

  @include MQ(M) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}

/* --------------------------------

 Post footer

--------------------------------- */
.post-footer {
  
  border-top: 1px solid $base-05;
  border-bottom: 1px solid $base-05;
  height: 40px;
  display: table;
  width: 100%;
  position: relative;

  @include MQ(M) {    
    height: 80px;
  }

  .column-1, .column-2, .column-3, .column-full {    
    padding-top: 10px;
    @include MQ(M) {
      padding-top: 30px;
    }
    span { color: $base-04; }
    a,span {
      @include font-size(12px);
      @include MQ(M) {
        @include font-size(16px);        
      }
    }
  }

  .column-1 {
    text-align: left;
    @include column(.3333);
  }
  .column-2 {
    text-align: center;
    @include column(.3333);
  }
  .column-3 {
    text-align: right;
    @include column(.3333);
  }
  .column-full {
    text-align: center;
    width: 100%;
  }
}

/* -----------------------------------

  Table

----------------------------------- */
table {
  margin: 1em 0;
  width: 100%;
  border: 1px solid $base-04;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid $base-04;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $base-05;
}