---
---

// Import reset 
@import "reset.css";

// Import colors, fonts etc...
@import "partials/variables";

// Import custom mixins
@import "partials/mixins";

// Import layout mixin
@import "partials/layout";

/* -------------------------------- 

 Primary style

-------------------------------- */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

body {
  font: {
    size: 100%;
    family: $primary-font; // variables inside partials > _variables.scss
  }
  color: $color-black;
  background-color: $color-white;
}

.wc-container {
    width: 90%;
    max-width: $M; // see breakpoints in _sass/partials/_layout.scss
    margin: 0 auto;

    &::after { /* Clearfix */
        content: '';
        display: table;
        clear: both;
    }
}

/* --------------------------------

 Small Typography

--------------------------------- */

h1, h2, h3, h4, h5, h6 { 
  line-height: 1.5;
}

h1 {
  // mobile first
  @include font-size(20px);
  @include MQ(M) {
    @include font-size(40px);
  }
}

h2 {
  // mobile first
  @include font-size(18px);
  @include MQ(M) {
    @include font-size(28px);
  }
}

h3 {
  @include font-size(15px);
  @include MQ(M) {
    @include font-size(25px);
  }
}

h4 {
  @include font-size(16px);
  @include MQ(M) {
    @include font-size(22px);
  }
}

h5 {
  @include font-size(14px);
  @include MQ(M) {
    @include font-size(18px);
  }
}

h6 {
  @include font-size(14px);
  @include MQ(M) {
    @include font-size(15px);
  }
}

p {
  line-height: 1.6;
  @include font-size(12px);
  @include MQ(M) {
    @include font-size(14px);
  }
}

/* --------------------------------

 Main Header

--------------------------------- */
header.main-header, footer.main-footer {
  background-color: #666;
  color: $color-white;
}

header.main-header { 
  padding: 2em 0;
  @include MQ(M) { padding: 4em 0; }
}
footer.main-footer {
  padding: 1em 0;
  @include MQ(M) { padding: 2em 0; }
}

.page-content {
  padding: 1em 0;
  @include MQ(M) { padding: 2em 0; }
}
