<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">        

        <!-- Harmony styles -->
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">

        <!-- Modernizr js -->
        <script src="{{ site.baseurl }}/assets/js/modernizr.js"></script>    

        <!-- Load google font -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        <script type="text/javascript">
            WebFontConfig = {
                google: { families: [ 'Open+Sans::latin' ] }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();
        </script>
    </head>
    <body class="{{ site.harmony.basetheme }}">
        <header class="main-header">
            <div class="wc-container">
                <h1>{{ site.harmony.name }}</h1>
                <h2>{{ site.harmony.description }}</h2>
            </div>
        </header>
        {{ content }}
        <footer class="main-footer">
            <p class="wc-container">Licensed under cc.</p>
        </footer>
    </body>
    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- When no internet load JQuery from local -->
    <script>window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/jquery.min.js"><\/script>')</script>
    <!-- Site js -->
    <script src="{{ site.baseurl }}/assets/js/all.js"></script>
</html>
