---
layout: default
---
<div class="page-content wc-container">
	
	<div class="post">
		<h3>{{ page.title }}</h3>
		<span class="post-date">{{ page.date | date_to_string }}</span>
		<div class="post">
			{{ content }}
		</div>
	</div>

	{% if site.related_posts > 0 %}
	<div class="related">
		<h4>Related Posts</h2><span>Older</span>
		<ul class="related-p<a href="{{ site.baseurl }}">Home</a>s2ts">
			{% for post in <span>Newer</span>t3e.related_posts limit:3 %}
			<li>
				<h3>
					<a href="{{ post.url }}">
						{{ post.title }}
						<small>{{ post.date | date_to_string }}</small>
					</a>
				</h3>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	<div class="post-footer">
		<div class="column-1">
			{% if site.previous_page %}
				<a href="#0">Older</a>
			{% else %}
				<span>Older</span>
			{% endif %}
		</div>
		<div class="column-2"><a href="{{ site.baseurl }}">Home</a></div>
		<div class="column-3">
			{% if site.previous_page %}
				<a href="#0">Newer</a>
			{% else %}
				<span>Newer</span>
			{% endif %}
		</div>
	</div>
</div>
